@model IEnumerable<Gestionale.Models.Utente>

@{
    ViewBag.Title = "Dipendenti";
}


@{
    Html.RenderAction("PartialViewDipendente");
}


<h2>Dipendenti</h2>
<hr/>
<table class="fl-table w-75">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDutente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DataAssunzione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stipendio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mansioni.Descrizione)
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDutente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>

            <td>
                <img src="~/Content/img/@item.Foto" style="width:50px;" alt="Alternate Text" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DataAssunzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stipendio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mansioni.Descrizione)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDutente }, new { @class = "btn", style = "background-color:#324960;color:white;" })
                @Html.ActionLink("Details", "Details", new { id = item.IDutente }, new { @class = "btn", style = "background-color:orange;color:white;" })
                @Html.ActionLink("Delete", "Delete", new { id = item.IDutente }, new { @class = "btn", style = "background-color:red;color:white;" })

            </td>

        </tr>

    }
</table>

